body {
    background-color: #000;
    width: 100%;
    height: 100%;
}
.overflow {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
   padding: 50px;
}
.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    margin-top: 20px;
    font-size: 17px;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;   
}
.none {
    display: none;
}